body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    height: 100vh;
}
nav {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 50px;
    width: 100%;
    color: white;
    background: #3A1C71;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input {
    border-radius: 8px;
}
form {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputText {
    margin: 10px;
    width: 300px;
}

.completed, .check-box {
    color: black;
    cursor: pointer;
}

.check-box input[type="checkbox"], .check-box .checked{
    display: none;
}

.check-box input[type="checkbox"]:checked~.checked {
    display: block;
}

.check-box input[type="checkbox"]:checked~.unchecked {
    display: none;
}

.fa-times {
    cursor: pointer;
}

.submit {
    cursor: pointer;
}

.submit:hover {
    color: lightslategrey;
}

h1 {
    font-weight: 100;
    padding: 10px;
    font-size: 20px;
}

#todos {
    height: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
    display: block;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
}

.todo {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: repeat(1,1fr);
    margin-top: 10px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.todo:nth-child(1) {
    background-color: rgba(0, 0, 0, 0.3);
}
.todo:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.2);
}

.check-box:hover, .todo:hover {
    color: white;
}

.linethrough {
    text-decoration: line-through;
}
.renderedItem {
    background-color: grey;
    border-radius: 8px;
}

.list-text {
    grid-column: span 1;
    grid-row: span 1;
}
.delete {
    grid-column: span 1;
    grid-row: span 1;}

main {
    height: 80vh;
    overflow: hidden;
}
@media only screen and (min-width: 600px) {
    main {
        border: 1px solid #3A1C71;
        border-radius: 5px;
        height: 80vh;
        margin-left: 50vh;
        margin-right: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .todo {
        width: 100vh;
    }
}